<!-- Start Footer Area -->
<footer class="footer-area footer-eleven">
  <!-- Start Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="inner-content">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="footer-widget f-about">
              <div class="logo">
                <a href="index.html">
                  <img src="assets/images/leaf.svg" alt="#" class="leaf-logo" /> Drumla
                </a>
              </div>
              <p>
                Odlar det som inte finns i butik, och delar med mig av det jag gillar.
              </p>
              <p class="copyright-text">
                <span>© 2025 Drumla.</span>
              </p>
            </div>
            <!-- End Single Widget -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Footer Top -->
</footer>
<!--/ End Footer Area -->

<a href="#" class="scroll-top btn-hover">
  <i class="lni lni-chevron-up"></i>
</a>
